.array {
    overflow: hidden;
    -webkit-user-select: none;
}

.array-table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}

.array-cell, .array-index {
    text-align: center;
    border-bottom: none;
    border-top: none;
    padding: 0;
    cursor: default;
    overflow: hidden;
}

.array-cell {
  position: relative;
  font-family: arial;
}

.array-cell:hover {
    text-decoration: underline;
}

.array-cell:nth-child(odd) {
    background-color: #eee;
}

.array-index {
    height: 10px;
    font-size: 10px;
    font-family: monospace;
    background-color: #0033CC;
    color: white;
}

.array-cell.focus {
    background-color: #333 !important;
    color: white;
}

.array-index.focus {
    background-color: black !important;
}

.array-flagged:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    float: left;
    border: 3px solid blue;
    border-radius: 50%;
}

.array-range1 {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAE0lEQVQIW2OUvuLwnwENMNJAEACP4QrsdsC6NQAAAABJRU5ErkJggg==');
    background-repeat: repeat-x;
}

.array-range2 {
    background-color: #ffcc00 !important;
}

.array-range3 {
    background-color: #0066cc !important;
}

.array-remove {
    color: red !important;
    text-decoration: line-through;
}
